* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #43c6ac, #191654);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.title {
  font-size: 2em;
  margin: 0;
  font-family: "JetBrains Mono";
  font-weight: 900;
  font-style: bold;
  letter-spacing: 5px;
}

.subtext {
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  font-family: "JetBrains Mono";
  font-weight: 900;
  font-style: bold;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 55px);
  grid-template-rows: repeat(10, 55px);
  gap: 1px;
  margin: 0;
  font-family: "JetBrains Mono";
  font-size: 30px;
}

.container {
  margin-top: 100px;
  padding: 40px;
  display: inline-flex;

  background-color: #7d7d7d0c;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(56, 56, 56, 0.284);
}
.cell {
  /* background-color: #758a93;
  border: solid 2px black; */

  backdrop-filter: blur(6px) saturate(152%);
  -webkit-backdrop-filter: blur(6px) saturate(152%);
  background-color: rgba(91, 91, 93, 0.19);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.262);

  display: flex;
  align-items: center;
  justify-content: center;
}

.flag {
  /* background-color: yellow; */
  background-image: url("./assets/flag.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.reveal {
  background-color: rgb(41, 12, 255);
}

.bomb {
  /* background-color: red; */
  background-image: url("./assets/bomb.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.wrong {
  background-image: url("./assets/wrong.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}
